.card__style{
    margin:10px;
    padding:20px; 
    height:500px;
}

.card__style--full{
    margin:10px;
    padding:20px; 
    height:1300px;

}

.container{
    padding:30px;
    height:auto;
   
}

.col-sm{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn__style{
    color: #000000;
    background-color: #a78f55;
    border:none;
}

.btn__style:hover{
    color:white;
    background-color: #a78f55;
}

.img__style{
    width:250px;
    height:250px;
}

.img__style--full{
    margin-left:10px;
    width:800px;
    height:500px;
}

.setup--time{
    padding:15px 5px 5px 5px;
    font-size:15px;
    color:#a78f55;
}

.tools--style{
    padding:5px 5px 5px 5px;
    font-size:15px;
    color:#a78f55;
}

.title--full{
    font-size:20px;
    padding:5px 5px 5px 5px;
    color:#a78f55;
}

li{
    margin-left:15px;
}

.step__style{
    list-style-type: none;
    margin-left:5px;
    margin-right:200px;
}
